body{
    background-color: #e9ebee;              
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 16px;
    margin: 0 auto;
    max-width: 800px;              
}


#domaine{
text-align: center;
}

table{
    background-color: white;
}

a:hover{
    color: orange;
}

tr:nth-child(2n+1){
    background-color: aquamarine;
}

tr:hover{
background-color:red;
}

img:hover{
    transform: scale(8);
}


@media only screen and (max-width: 600px) {
    body {
        background-color: rgb(24, 82, 12);
    }
}

@media only screen and (min-width: 900px) {
    body {
        background-color: blueviolet
    }
}
div{   
    border: 2px solid black;

    width: 23%;
    line-height: 50%;
    
}