
           body{
            
              background-color: #e9ebee;              
              font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
              font-size: 16px;
              margin: 0 auto;
              max-width: 800px;    
              background-image: url("../img/Fond.PNG");  
              background-image: no-repeat;      
               }

               i.fa-search-location {
                 color: #5a6268;
                font-size: 3em;
            }
          #my-button{
            
            border-color: transparent;
            background-color: #8dd1d9;
            margin-top: 20px;
            margin-bottom: 20px;
          }     

          
         #card1{
           background-color: transparent;
           border: none;
           margin-left: 109%;
           margin-top: -20%;
         }


          #my-input {
            padding-left: 10px;
            transform: scaleX(0);
            opacity: 0;
            transition: opacity .25s, transform .25s;
            transform-origin: 0 0;
          }
          
          #my-input.show {
            transform: scaleX(1);
            opacity: 1;
          }
          #hidelist{
            padding-left: 10px;
            transform: scaleX(0);
            opacity: 0;
            transition: opacity .25s, transform .25s;
            transform-origin: 0 0;
          }
          #hidelist.show{
            transform: scaleX(1);
            opacity: 1;
          }
          .card-body{
            margin-top: -20%;
          }
          .list-grop {
            position: relative;
            list-style:none;
            margin-left: 20px;
            padding-left:0;
            }
            li {
            margin-bottom:15px;/* à adapter */
            }
            
